{% extends 'main.html' %}
{% load static %}

<!doctype html>
<head>
    <link rel="stylesheet" href="{% static 'stile.css' %}">
</head>

    {% block content %}
    {% if user.is_staff %}
        <table class="table bg-white">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Total produced energy</th>
                    <th>Total consumed energy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_produced }}</td>
                    <td>{{ total_consumed }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
    <div id="login_info">
      <p class="menu">This page is reserved only for administration user.
          <br>
          If you are an administratior user and you have a problem to view this page, please contact us by email</p>
    </div>
    {% endif %}
    {% endblock %}