{% extends 'main.html' %}
{% load static %}

<!doctype html>
<head>
    <link rel="stylesheet" href="{% static 'stile.css' %}">
</head>

    {% block content %}
    {% if user.is_staff %}
        <table class="table bg-white">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Total produced energy</th>
                    <th>Total consumed energy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_produced }}</td>
                    <td>{{ total_consumed }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
    <div id="login_info">
      <p>Questa pagina è riservata solo agli amministratori. Se sei un amministratore e non visualizzi correttamente la pagina contatta lo staff al'indirizzo: it@ecohotelpomelia.com</p>
    </div>
    {% endif %}
    {% endblock %}